:root {
    --font_color: #082966;
    --title: black;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    display: flex;
    width: 100%;
    height: 1;
    justify-content: center;
    align-items: center;
}
.container1{
    /* background-color: rgb(235, 191, 191); */
    width: 370px;
    background-image: linear-gradient(#a9bcee, #f5f7fa);    /*card colorrr*/
    box-shadow: 0 5px 5px -3px rgba(83, 39, 39, 0.2), 
                0 8px 10px 1px rgb(0 0 0 / 14%), 
                0 3px 14px 2px rgb(0 0 0 / 12%);
}
.profile_img{
    position: relative;
    width: 368px !important ;
}
.profile_img2{
    position: relative;
    display: flex;
    width: 130px;
    height: 130px;
    margin-top: -65px;
    margin-left: 43px;
    border-radius: 100%;
    border: 2px solid #D9F9F7;
    box-sizing: border-box;
    filter: drop-shadow(6px 8px 4px rgba(0, 0, 0, 0.25));
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.profile_name{
    color: #082966;
}
.header{
    position: relative;
    display: flex;
    flex-direction: row;
}
.social_icon{
    font-size: 20px;
}
.social_icon a i{
    -webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
    width: 35px;
	height: 35px;
    position: absolute;
    text-align: center;
    -webkit-box-shadow: inset 0 0 0 40px white;
	-moz-box-shadow: inset 0 0 0 40px white;
	-o-box-shadow: inset 0 0 0 40px white;
	-ms-box-shadow: inset 0 0 0 40px white;
	box-shadow: inset 0 0 0 40px rgb(222, 228, 248);
	
	
}
.social_icon a i:hover{
    -webkit-box-shadow: inset 0 0 0 3px ;
	-moz-box-shadow: inset 0 0 0 3px ;
	-o-box-shadow: inset 0 0 0 3px ;
	-ms-box-shadow: inset 0 0 0 3px ;
	box-shadow: inset 0 0 0 3px ;
	
	/* color: #fff; */
}
.ease-all{
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.icon_center:before {
    position: relative;
    top:9px;
}
.phone{
    margin-top: -47px;
    margin-left: 10px;
    position: absolute;
    color: #212529 !important;
}
.whatsapp{
    position: absolute;
    margin-left: 33px;
    margin-top: -5px;
    color: rgb(0, 97, 13);
}
.wikipedia{
    position: absolute;
    margin-left: 77px;
    margin-top: 11px;
    color: rgb(144, 105, 218);
}
.map{
    position: absolute;
    margin-top: 6px;
    margin-left: 124px;
    color: rgb(235, 103, 103);
}
.information{
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 
                0 8px 10px 1px rgb(0 0 0 / 14%), 
                0 3px 14px 2px rgb(0 0 0 / 12%);

}
.info{
    text-align: center;
    justify-content: center;
    /* margin-left: 50px; */
}
/* .fa-info-circle{
    position: absolute;
    font-size: 20px;
    margin-top: 4px;
    margin-left: 125px;
} */
.icon_bar_main a{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    /* color: #056774; */
}
.icon_bar{
    height: 26px;
}
/* .icon_bar i{
    margin-top: 10px !important;
} */
.icon_bar_main{
    color: var(--font_color);
}
.address{
    padding-bottom: 10px !important;
}
.icon_info{
    /* position: absolute; */
    margin-top: -20px;
    margin-left: 104px;
    display: flex;
    font-size: 13px;
    padding: 2px;
    /* word-break: break-all; */
}
.service_info{
    color: var(--font_color);
    margin-left: 20px;
    font-size: 13px;
}

.gallery{
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
  margin: 10px;
  /* background-color: #f2f2f2; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding-bottom: 12px;
}
.item img{
    width: 100%;
    height: 9rem;
    border-radius: 20px;
    /* margin: 6px; */
    padding: 2% 0;
}

.video_content{
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
    margin: 10px;
    /* background-color: #f2f2f2; */
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 20px;
    padding-bottom: 12px;
    text-align: center;
}
.video_title{
    text-align: center;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 
                0 8px 10px 1px rgb(0 0 0 / 14%), 
                0 3px 14px 2px rgb(0 0 0 / 12%);
    color: black;
    /* border-radius: 35px; */
}
#video{
    width: 100%;
    padding: 15px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    /* float: left; */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 37px;
    transition: 0.3s;
    justify-content: space-around;
    text-align: center;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
    opacity: 1;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    /* padding: 6px 12px; */
    border: 1px solid #ccc;
    border-top: none;
  }
.bank_title{
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 
                0 8px 10px 1px rgb(0 0 0 / 14%), 
                0 3px 14px 2px rgb(0 0 0 / 12%); 
    color: black;
}
.scan{
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 
                0 8px 10px 1px rgb(0 0 0 / 14%), 
                0 3px 14px 2px rgb(0 0 0 / 12%);
    color: black;
}
.gallery_title{
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 
                0 8px 10px 1px rgb(0 0 0 / 14%), 
                0 3px 14px 2px rgb(0 0 0 / 12%);
    color: black;
}
#Paris{
    text-align: center;
}
.QR{
    height: 150px;
    width: 150px;
}
.bank_info{
    color: var(--font_color);
}
.QR_info{
    color: var(--font_color);
}

/* #usa{
    text-align: left;
    margin-left: 15px;
} */




/* backsideeee */

.header_back{
    margin-top: 7px;
}

.header_img{
    position: absolute;
    /* width: 100%; */
    height: 100px;
    display: flex;
    margin-top: -29px;
    /* height: 250px; */
    width: 369px;
    border-radius: 25%;
}
.header_title{
    position: relative;
    text-align: center;
    /* margin-top: -10rem; */
    /* margin-left: 0.8rem; */
    font-weight: 600;
    /* font-size: 54px; */
}
.company_name{
    position: relative;
    color: aliceblue;
}
.motto{
    /* margin-top: 1rem; */
    /* margin-left: 3rem; */
    /* display: flex; */
    /* font-size: 27px; */
    position: relative;
    text-align: center;
}
/* .loc__1{
    position: absolute;
    margin-top: 10px;
} */
.company_info{
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-top: 35px;
    color: var(--font_color);
}






/* slide css */

.slider {
    max-width: 1000px;
    margin: 0 auto;
  }
  .slick-slide {
    margin: 0 5px;
  }
  .slick-list {
    margin: 0px -5px 0px -5px;
  }
  button.slick-next, button.slick-next:hover {
    position: absolute;
    top: 41%;
    right: 54px;
    width: 47px;
    height: 75px;
    background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
  }
  button.slick-prev, button.slick-prev:hover {
    position: absolute;
    top: 41%;
    left: 15px;
    z-index: 1;
    width: 47px;
    height: 75px;
    background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
        background-position-x: right;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 70px;
    color: #EA8496;
    line-height: inherit;
    font-weight: bold;
  }
  .slider img {
    height: 324px;
  }
  
  /* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
  /* Slider */
  .slick-slider
  {
      position: relative;
  
      display: block;
  
      -moz-box-sizing: border-box;
           box-sizing: border-box;
  
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
  
      display: block;
      overflow: hidden;
  
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
  
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
  
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
  
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
  
      height: auto;
  
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }
  @charset 'UTF-8';
  /* Slider */
  .slick-loading .slick-list
  {
      background: #fff url('http://maggiesadler.com/wp-content/uploads/2015/10/ajax-loader.gif') center center no-repeat;
  }
  
  /* Icons */
  @font-face
  {
      font-family: 'slick';
      font-weight: normal;
      font-style: normal;
  
      src: url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot');
      src: url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.woff') format('woff'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.ttf') format('truetype'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.svg#slick') format('svg');
  }
  /* Arrows */
  .slick-prev,
  .slick-next
  {
      font-size: 0;
      line-height: 0;
  
      position: absolute;
      top: 50%;
  
      display: block;
  
      width: 20px;
      height: 20px;
      margin-top: -10px;
      padding: 0;
  
      cursor: pointer;
  
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus
  {
      color: transparent;
      outline: none;
      background: transparent;
  }
  .slick-prev:hover:before,
  .slick-prev:focus:before,
  .slick-next:hover:before,
  .slick-next:focus:before
  {
      opacity: 1;
  }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before
  {
      opacity: .25;
  }
  
  .slick-prev:before,
  .slick-next:before
  {
      font-family: 'slick';
      font-size: 20px;
      line-height: 1;
  
      opacity: .75;
      color: white;
  
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .slick-prev
  {
      left: -25px;
  }
  [dir='rtl'] .slick-prev
  {
      right: -25px;
      left: auto;
  }
  .slick-prev:before
  {
      content: '';
  }
  [dir='rtl'] .slick-prev:before
  {
      content: '';
      font-weight: bold;
      font-size: 20px;
  }
  
  .slick-next
  {
      right: -25px;
  }
  [dir='rtl'] .slick-next
  {
      right: auto;
      left: -25px;
  }
  .slick-next:before
  {
      content: '';
  }
  [dir='rtl'] .slick-next:before
  {
      content: '';
  }
  
  /* Dots */
  .slick-slider
  {
      margin-bottom: 30px;
  }
  
  .slick-dots
  {
      position: absolute;
      bottom: -45px;
  
      display: block;
  
      width: 100%;
      padding: 0;
  
      list-style: none;
  
      text-align: center;
  }
  .slick-dots li
  {
      position: relative;
  
      display: inline-block;
  
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
  
      cursor: pointer;
  }
  .slick-dots li button
  {
      font-size: 0;
      line-height: 0;
  
      display: block;
  
      width: 20px;
      height: 20px;
      padding: 5px;
  
      cursor: pointer;
  
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
  }
  .slick-dots li button:hover,
  .slick-dots li button:focus
  {
      outline: none;
  }
  .slick-dots li button:hover:before,
  .slick-dots li button:focus:before
  {
      opacity: 1;
  }
  .slick-dots li button:before
  {
      font-family: 'slick';
      font-size: 6px;
      line-height: 20px;
  
      position: absolute;
      top: 0;
      left: 0;
  
      width: 20px;
      height: 20px;
  
      content: '•';
      text-align: center;
  
      opacity: .25;
      color: black;
  
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .slick-dots li.slick-active button:before
  {
      opacity: .75;
      color: black;
  }
  