:root {
    --font_color: #ffffff;
    --title: #ffffff;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    display: flex;
    width: 100%;
    height: 1;
    justify-content: center;
    align-items: center;
}
.container1{
    width: 370px;
    background: #1B2533;   /*card colorrr*/
    box-shadow: 0 5px 5px -3px rgba(83, 39, 39, 0.2), 
                0 8px 10px 1px rgb(0 0 0 / 14%), 
                0 3px 14px 2px rgb(0 0 0 / 12%);
}
.profile_img{
    position: relative;
    width: 350px !important ;
}
.profile_img2{
    position: relative;
    display: flex;
    width: 130px;
    height: 130px;
    margin-top: -78px;
    margin-left: 37px;
    border-radius: 100%;
    border: 2px solid #D9F9F7;
    box-sizing: border-box;
    filter: drop-shadow(6px 8px 4px rgba(0, 0, 0, 0.25));
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.profile_name{
    color: white;

}
.header{
    position: relative;
    display: flex;
    flex-direction: row;
}
.social_icon{
    font-size: 20px;
}
.social_icon a i{
    -webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
    width: 35px;
	height: 35px;
    position: absolute;
    text-align: center;
    -webkit-box-shadow: inset 0 0 0 40px white;
	-moz-box-shadow: inset 0 0 0 40px white;
	-o-box-shadow: inset 0 0 0 40px white;
	-ms-box-shadow: inset 0 0 0 40px white;
	box-shadow: inset 0 0 0 40px rgb(222, 228, 248);
	
	
}
.social_icon a i:hover{
    -webkit-box-shadow: inset 0 0 0 3px ;
	-moz-box-shadow: inset 0 0 0 3px ;
	-o-box-shadow: inset 0 0 0 3px ;
	-ms-box-shadow: inset 0 0 0 3px ;
	box-shadow: inset 0 0 0 3px ;
}

.ease-all{
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.icon_center:before {
    position: relative;
    top:9px;
}
.phone{
    margin-top: -47px;
    margin-left: 5px;
    position: absolute;
    color: #345e41 !important;
}
.whatsapp{
    position: absolute;
    margin-left: 33px;
    margin-top: -5px;
    color: rgb(0, 97, 13);
}
.wikipedia{
    position: absolute;
    margin-left: 77px;
    margin-top: 11px;
    color: rgb(144, 105, 218);
}
.map{
    position: absolute;
    margin-top: 6px;
    margin-left: 124px;
    color: rgb(235, 103, 103);
}
.information{
    border-radius: 10px;
    color: var(--font_color);

}

.info_main{
    margin-top: 60px;
}
.info{
    text-align: center;
    justify-content: center;
    color: var(--title);
}
.icon_bar_main a{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.icon_bar{
    height: 26px;
}
.icon_bar_main{
    color: var(--font_color);
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.address{
    padding-bottom: 10px !important;
}
.icon_info{
    margin-top: -20px;
    margin-left: 104px;
    display: flex;
    font-size: 13px;
    padding: 2px;
}
.service_info{
    color: var(--font_color);
    margin-left: 40px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

/* .gallery{
  padding: 15px 6px 15px;
  border-top: none;
  margin: 10px 10px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding-bottom: 12px;
  margin-bottom: 20px;
} */
.item img{
    width: 100%;
    height: 9rem;
    border-radius: 20px;
    padding: 2% 0;
}

.video_content{
    border-top: none;
    text-align: center;
}
.video_title{
    text-align: center;
    color: var(--title);
}

#video{
    width: 100%;
    padding: 15px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    height: 50px;
    background: #E91E36;
    box-shadow: inset 10px 8px 8px 4px rgb(0 0 0 / 25%);
    border-top-left-radius: 94.5px;
    border-top-right-radius: 94.5px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 38px;
    transition: 0.3s;
    justify-content: space-around;
    text-align: center;
    color: var(--font_color);
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
    opacity: 1;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    border-top: none;
    margin: 10px;
  }
.bank_title{
    color: var(--title);
    text-align: center;
}
.scan{
    color: var(--title);
    text-align: center;
}
.gallery_title{
    color: var(--title);
}

.qr_img{
    height: 150px;
    border-radius: 15px;
    border:1px solid black  ;
    padding: 5px;
}

.QR{
    margin: 10px;
    text-align: center !important;
    align-items: center !important;
    margin-top: 40px;
}
.bank_info{
    display: flex;
    flex-direction: column;
    color: var(--font_color);
    margin: 10px;
    font-size: 14px;
    margin-top: 40px;
}
.QR_info{
    display: flex;
    flex-direction: column;
    color: var(--font_color);
    margin: 10px;
    font-size: 14px;
    margin-top: 25px;
}




/* backsideeee */


.header_back{
    margin-top: 7px;
}

.header_img{
    height: 100px;
    display: flex;
    margin-top: -29px;
    width: 350px;
    border-radius: 25%;
}
.header_title{
    position: relative;
    text-align: center;
    font-weight: 600;
}
.company_name{
    position: relative;
    color: aliceblue;
    margin-top: 15px;
}
.motto{
    position: relative;
    text-align: center;
}
    
.company_info{
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-top: 35px;
    margin-bottom: px;
    box-shadow: 8px 8px 8px 8px rgb(0 0 0 / 20%);
    /* color: var(--font_color) !important; */
}
.company_info a{
    color: var(--font_color);
}
.company_info i{
    color: var(--font_color);
}



.catelog{
    color: var(--title);
}









.gallery {
    height: fit-content;
    position: relative;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.gallery, .gallery * {
    outline: 0;
}
.gallery--images {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100px;
    height: fit-content;
    overflow-x: scroll;
    overflow-y: hidden;
    list-style: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin-top: 50px;
    margin-bottom: 40px;
}
.gallery--images.-scroll-snap .gallery--image {
    scroll-snap-align: center;
}
.gallery--image + .gallery--image {
    margin-left: 0.5rem;
}
.gallery--controls {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    list-style: none;
}
.gallery--button {
    display: block;
    width: 2.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    border: 0;
    color: inherit;
    background-color: transparent;
    font-size: 3rem;
    line-height: 4rem;
    pointer-events: auto;
}
.gallery--button strong {
    /* display: block; */
    height: 4rem;
    background-color: white;
}
.gallery--button.-previous {
    left: 0;
    /* background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); */
    text-align: left;
}
.gallery--button.-previous strong {
    border-radius: 0 0.25rem 0.25rem 0;
}
.gallery--button.-next {
    right: 0;
    border-radius: 0.25rem 0 0 0.25rem;
    /* background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); */
    text-align: right;
}
.gallery--button.-next strong {
    border-radius: 0.25rem 0 0 0.25rem;
}
.gallery--button:focus strong {
    color: white;
    background-color: royalblue;
}
.gallery--button:not([disabled]):hover {
    color: royalblue;
}
.gallery--button.-previous[disabled], .gallery--button.-next[disabled] {
    opacity: 0.3;
    background-image: none;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    color: #333;
    font-family: sans-serif;
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}




/* share button  */



  .share-button{
    width: 150px;
    height: 35px;
    background: #EF6236;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s linear;
    margin-left: 27% !important;
    margin: 10px;
    margin-bottom: 20px;
}
.share-button:hover{
    transform: scale(1.1);
}
.share-button span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #EF6236
    ;
    color: var(--title);
    text-align: center;
    /* line-height: 83px; */
    font-size: 15px;
    z-index: 999;
    transition: .6s linear;
    border-radius: 40px;
}
.share-button span i{
    margin-top: 10px;
}
.share-button:hover span{
    transform: translatex(-100%);
    transition-delay: .3s;
}
.share-button a{
    flex: auto;
    font-size: 15px;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s linear;
    color: var(--font_color);
}
.share-button:hover a{
    opacity: 1;
    transform: translateX(0);
}
.share-button a:nth-of-type(1){
    transition-delay: 0.5s;
}
.share-button a:nth-of-type(2){
    transition-delay: 0.4s;
}
.share-button a:nth-of-type(3){
    transition-delay: 0.3s;
}
.share-button a:nth-of-type(4){
    transition-delay: 0.2s;
}




/* contact form  */


#contact{
    /* background: #E91E36;
    color: aliceblue;
    border-radius: 40px;
    text-align: center;
    width: 150px;
    height: 35px; */
    justify-content: center;
    width: 150px;
    height: 35px;
    background: #EF6236;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s linear;
    margin-left: 28.5% !important;
    margin: 10px;
    margin-bottom: 40px;
    
}

#contact:hover { 
    background: rgb(255, 255, 255);
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),0 17px 50px 0 rgba(255, 255, 255, 0.19);
    color: black;
 }
#contact:active { background: rgb(192, 89, 89); }

#contactForm{
    position: relative;
    background: rgb(240, 234, 234);
    padding: 30px;
    border: 6px solid #EF6236;
    text-align: center;

}
/* #contactForm { 
  display: none;

  border: 6px solid #EF6236; 
  padding: 2em;
  width: 360px;
  text-align: center;
  background: rgb(240, 234, 234);
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
 
  
} */

input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 280px; 
  padding: .4em;
}
textarea { height: 80px; resize: none; }

.formBtn { 
  width: 110px;
  display: inline-block;
  border-radius: 30px;
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 20px;
  border: none;
}











h5 {
    position: relative;
    margin: 0 auto 20px;
    padding: 10px 40px;
    text-align: center;
    background-color: #E91E36;
    width: 50%;
    /* clear: both; */
    /* display: inline-block; */
    /* overflow: hidden; */
    white-space: nowrap;
  }
  h5::before, h5::after {
    content: '';
    width: 80px;
    height: 100%;
    background-color:   #E91E36;
    ;
    /* position ribbon ends behind and slightly lower */
    position: absolute;
    /* z-index: -1; */
    top: 20px;
    /* clip ribbon end shape */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);
    /* draw and position the folded ribbon bit */
    background-image: linear-gradient(45deg, transparent 50%, #5D3922 50%);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  h5::before {
    left: -60px;
  }
  h5::after {
    right: -60px;
    transform: scaleX(-1); /* flip horizontally */
  }
  /* everything below is for demo appearances and not important to the concept */

  @media (max-width: 400px) {
    h5 { font-size: 1.5rem; }
  }